<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>blah</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.6/jscolor.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">  

<link rel="stylesheet" href="/main.css">

</style>

</head>
<body>

  <div id="theme-builder">
  <div id="lefthand">
    <form id="theme-form">

      <fieldset>
        <legend>Common</legend>

        <label for="theme-input-logo_name">Logo Name</label>
        <select name="logo_name" id="theme-input-logo_name">
          <option value="" selected>none</option>
          <% WRSRSkinner::Logo.valid_logo_names.each do |ln| %>
            <option value="<%= ln %>"><%= ln %></option>
          <% end %>
        </select><br/>
      </fieldset>

      <fieldset>
        <legend>Truck Bodies</legend>
        <label for="theme-input-base">Body Base</label>
        <input id="theme-input-base" name="base" data-jscolor="" value="#00000000"><br/>

        <label for="theme-input-stripe">Body Stripe</label>
        <input id="theme-input-stripe" name="stripe" data-jscolor="" value="#00000000"><br/>

        <label for="theme-input-wooden_hull_base">Lower Body/Bed</label>
        <input id="theme-input-wooden_hull_base" name="wooden_hull_base" data-jscolor="" value="#00000000"><br/>

        <label for="theme-input-logo">Body Logo</label>
        <input id="theme-input-logo" name="logo" data-jscolor="" value="#00000000"><br/>

      </fieldset>

      <fieldset>
        <legend>Truck Cabs</legend>

        <label for="theme-input-cab_base">Cab Base</label>
        <input id="theme-input-cab_base" name="cab_base" data-jscolor="" value="#00000000"><br/>

        <label for="theme-input-cab_stripe_base">Cab Stripe Base</label>
        <input id="theme-input-cab_stripe_base" name="cab_stripe_base" data-jscolor="" value="#00000000"><br/>

        <label for="theme-input-cab_stripe_logo">Cab Stripe Logo</label>
        <input id="theme-input-cab_stripe_logo" name="cab_stripe_logo" data-jscolor="" value="#00000000"><br/>

    </fieldset>

    </form>

  </div>

  <div id="righthand">
    <img class="theme-preview" data-theme-preview-url="/preview/preview/ifa_w_50.png"></img>
  </div>
  </div>

  <div id="bundle-builder">
        <input id="search-skinnable-table-input" placeholder="e.g. -snow -gravel ifa"></input><br/>
    <button id="add-visible-skinnable-button">Add to Bundle</button>
    <button id="remove-visible-skinnable-button">Remove from Bundle</button><br/>
    <span id="bundle-selected-count"></span>

    <form id="bundle-form">
      <div id="skinnable-container">
        <% WRSRSkinner::Skinnable.all.
          find_all { |sk| sk.include_in_bundle? }.
          sort_by { |sk| [sk.vehicle_family, sk.vehicle_type] }.each do |sk| %>
          <label class="skinnable" for="request_skinnable_id-<%= sk.skinnable_wrsr_path %>">
            <span class='vehicle_family'><label for="request_skinnable_id-<%= sk.skinnable_wrsr_path %>"><%= sk.vehicle_family %></label></span>
            <span class='vehicle_type vehicle_type_<%= sk.vehicle_type %>'><label for="request_skinnable_id-<%= sk.skinnable_wrsr_path %>"><%= sk.vehicle_type %></label></span>
            <input type="checkbox" id="request_skinnable_id-<%= sk.skinnable_wrsr_path %>" 
              name="requested_skinnable_id[]" value="<%= sk.skinnable_wrsr_path %>">
          </label>
        <% end %>
      </div>
    </form>


    <a id="download-bundle" href="/bundle">Download bundle</a>
  </div>

  <script src="/theme_changes.js"></script>
  <script src="/bundle_changes.js"></script>

</body>
</html>